.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.table > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

nav.controller {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
}
